<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title"/>
        </div>
        <div>
            <label>Price</label>
            <input type="number" name="price"/>
        </div>
        <div>
            <label>Payments</label>
            <input type="checkbox" name="payments" value="cod" />
            <label>COD</label>

            <input type="checkbox" name="payments" value="cheque"/>
            <label>Cheque</label>

            <input type="checkbox" name="payments" value="paynow" />
            <label>Paynow</label>
        </div>
        <div>
            <label>Type</label>
            <input type="radio" name="type" value="electronic"/>
            <label>Electronic</label>

            <input type="radio" name="type" value="entertainment"/>
            <label>Entertainment</label>

            <input type="radio" name="type" value="clothings"/>
            <label>Clothings</label>

            <input type="radio" name="others" value="others"/>
            <label>Others</label>
        </div>
        <input type="submit"/>
    </form>
</body>
</html>{{#extends "base"}}

{{#block "content"}}
<h1>Log a New Food</h1>
<form method="POST">
    <div>
        <label>Food Name:</label>
        <input type="text" class="form-control" name="foodName" id="foodName"/>
    </div>

    <div>
        <label>Calories:</label>
        <input type="text" class="form-control" name="calories"/>
    </div>

    <div>
        <label>Meal:</label>
        <input type="radio" class="form-check-input" name="meal" value="breakfast"/>
        <label>Breakfast</label>

        <input type="radio" class="form-check-input" name="meal" value="lunch"/>
        <label>Lunch</label>

        <input type="radio" class="form-check-input" name="meal" value="dinner"/>
        <label>Dinner</label>

    </div>

    <div>
        <label>Tags</label>
        <input type="checkbox" class="form-check-input" name="tags" value="homecooked"/>
        <label>Homecooked</label>

        <input type="checkbox" class="form-check-input" name="tags" value="organic"/>
        <label>Organic</label>

        <input type="checkbox" class="form-check-input" name="tags" value="vegetarian"/>
        <label>Vegetarian</label>

        <input type="checkbox" class="form-check-input" name="tags" value="glutten-free"/>
        <label>Glutten Free</label>

    </div>


    {{!-- The submit button allows us to submit a form to a server --}}
    <input type="submit" value="Add new" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}