{{#extends "base"}}

{{#block "content"}}
<h1>Update Food</h1>
<form method="POST">
    <div>
        <label>Food Name:</label>
        <input type="text" 
           class="form-control" 
           name="foodName" 
           id="foodName"
           value="{{record.foodName}}" />
    </div>

    <div>
        <label>Calories:</label>
        <input type="text" 
        class="form-control" 
        name="calories"
        value="{{record.calories}}"
        />
    </div>

    <div>
        <label>Meal:</label>
        <input type="radio" 
             class="form-check-input" 
             name="meal"
            value="breakfast"
            {{#eq record.meal "breakfast"}}checked{{/eq}}
            />
        <label>Breakfast</label>

        <input type="radio" 
            class="form-check-input"
            name="meal" 
            value="lunch"
            {{#eq record.meal "lunch"}}checked{{/eq}}
            />
        <label>Lunch</label>

        <input type="radio" 
            class="form-check-input"
            name="meal" 
            value="dinner"
        {{#eq record.meal "dinner"}}checked{{/eq}}
            />
        <label>Dinner</label>

    </div>

    <div>
        <label>Tags</label>
        <input type="checkbox" 
            class="form-check-input"
            name="tags"
            value="homecooked"
            {{#inArray record.tags "homecooked"}}checked{{/inArray}}
            />
        <label>Homecooked</label>

        <input type="checkbox"
         class="form-check-input"
          name="tags" 
          value="organic"
          {{#inArray record.tags "organic"}}checked{{/inArray}}
          />
        <label>Organic</label>

        <input type="checkbox" 
        class="form-check-input"
         name="tags"
          value="vegetarian"
          {{#inArray record.tags "vegetarian"}}checked{{/inArray}}
          />
        <label>Vegetarian</label>

        <input type="checkbox" 
        class="form-check-input" 
        name="tags"
         value="glutten-free"
         {{#inArray record.tags "glutten-free"}}checked{{/inArray}}
         />
        <label>Glutten Free</label>

        <input type="checkbox" 
        class="form-check-input" 
        name="tags"
         value="less-oil"
         {{#inArray record.tags "less-oil"}}checked{{/inArray}}
         />
        <label>Less Oil</label>

    </div>


    {{!-- The submit button allows us to submit a form to a server --}}
    <input type="submit" value="Add new" class="btn btn-primary mt-3"/>
</form>
{{/block}}

{{/extends}}