{{#extends "base"}}
{{#block "content"}}
    <h1>About Us</h1>   
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem saepe sunt eaque fugit consequatur quod quo est recusandae doloribus, necessitatibus nihil incidunt? In sed ea pariatur neque, iste quod provident.</p>
{{/block}}

{{#block "title"}}
About Us
{{/block}}

{{/extends}}