{{#extends 'base'}}

{{#block "content"}}

<form method="POST">
        <div>
            <label>Title</label>
            <input type="text" name="title"/>
        </div>
        <div>
            <label>Price</label>
            <input type="number" name="price"/>
        </div>
        <div>
            <label>Payments</label>
            <input type="checkbox" name="payments" value="cod" />
            <label>COD</label>

            <input type="checkbox" name="payments" value="cheque"/>
            <label>Cheque</label>

            <input type="checkbox" name="payments" value="paynow" />
            <label>Paynow</label>
        </div>
        <div>
            <label>Type</label>
            <input type="radio" name="type" value="electronic"/>
            <label>Electronic</label>

            <input type="radio" name="type" value="entertainment"/>
            <label>Entertainment</label>

            <input type="radio" name="type" value="clothings"/>
            <label>Clothings</label>

            <input type="radio" name="others" value="others"/>
            <label>Others</label>
        </div>
        <input type="submit"/>
    </form>




{{/block}}

{{/extends}}