{{#extends "base"}}

{{#block "content"}}
<h1>Thank for your Participation!</h1>
<ul class="list-group">
    <li class="list-group-item">First Name: {{firstName}}</li>
    <li class="list-group-item">Last Name: {{lastName}}</li>
    <li class="list-group-item">Selected Gender: {{gender}}</li>
    <li class="list-group-item">Hobbies:
        {{!-- Use an unordered list to show all the hobbies --}}
        <ul>
        {{#each hobbies}}
            <li>{{this}}</li>
        {{/each}}
        </ul>


    </li>
</ul>
{{/block}}


{{/extends}}